
    .ladies-uke-night {
    display: flex;
    justify-content: center;
    color: darkblue;
    font-size: 3em;
    font-family: 'Dancing Script', cursive;


    }

.store-name{
    display: flex;
    justify-content: center;
    font-family: 'Sen', sans-serif;
}